/* IQOS Fonts */
@font-face {
  font-family: 'IQOSW10-Regular';
  src: url('/AEMSnippets/fonts/IQOSW10-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'IQOSW10-Bold';
  src: url('/AEMSnippets/fonts/IQOSW10-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* ZYN Fonts */
@font-face {
  font-family: 'ZYNSans_W_Rg';
  src: url('/AEMSnippets/fonts/ZYNSans_W_Rg.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'ZYNSans_W_XBd';
  src: url('/AEMSnippets/fonts/ZYNSans_W_XBd.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}